* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
}

.hero-image {
    background-image: url("./images/scotland-1987599_1280.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: whitesmoke;
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

/* Each page section */
.content-section {
    width: 90%;
    margin: 40px auto;
}

/* Text + Image */
.two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: center;
}

.image img {
    border-radius: 25px;
}

.info {
    font-size: 1.15em;
}

/* Did You Know */
.did-you-know {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 2px solid #ddd;
    font-size: 1.05rem;
    line-height: 1.6;
}

.did-you-know strong {
    font-weight: bold;
}