/* General */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

body {
    background: #F7F7F7;
    color: #222;
    margin: 0;
}

/* Section Cards */
.section {
    background: white;
    border-radius: 18px;
    padding: 40px;
    margin: 50px auto;
    max-width: 1100px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

/* Hero */
.hero-image {
    position: relative;
    background-image: url("Images/Main_page/michael-jordan-hero-image.jpg");
    height: 352px;
    background-position: center 5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.15);
}

.hero-text {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 56px;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    text-shadow: 2px 2px 6px rgba(0,0,0,.8);
}

/* Images */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 6px 14px rgba(0,0,0,.15);
    transition: transform .3s;
}

.image img:hover {
    transform: scale(1.04);
}

/* Content Sections */
.content-section {
    width: 90%;
    margin: 40px auto;
}

.two-column-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

.two-column-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

/* Text */
.info h1 {
    font-size: 2.6rem;
    margin-bottom: 25px;
    color: #222;
}

.info p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

/* Did You Know Box */
.did-you-know {
    margin-top: 30px;
    background: cornsilk;
    border-left: 5px solid rgb(206, 17, 38);
    padding: 18px;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.did-you-know strong {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Facts Section */
.facts-section {
    width: 90%;
    margin: 40px auto;
}



.facts-section h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* Grid */
.facts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/* Fact Card */
.fact {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* Hover Effect */
.fact:hover {
    transform: translateY(-5px);
}

/* Heading */
.fact h3 {
    color: rgb(206, 17, 38);
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.3rem;
}

/* Paragraph */
.fact p {
    margin: 0;
    line-height: 1.6;
}