* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
}

.hero-image {
    background-image: url("Images/Main_page/michael-jordan-hero-image.jpg");
    height: 352px;
    background-position: center 5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    font-family: 'Poppins' 'sans-serif';
    color: whitesmoke;
    -webkit-text-stroke: 2px black;
    font-size: 56px;
    position: absolute;
    text-align: center;
    top: 240px;
    width: 100%;
}

/* Each page section */
.content-section {
    width: 90%;
    margin: 40px auto;
}

/* Text + Image */
.two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: center;
}

.image img {
    border-radius: 25px;
}

.info {
    font-size: 1.15em;
}

/* Did You Know */
.did-you-know {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 2px solid #ddd;
    font-size: 1.05rem;
    line-height: 1.6;
}

.did-you-know strong {
    font-weight: bold;
}

.facts-section {
    width: 90%;
    margin: 40px auto;
}

.facts-section h1 {
    margin-bottom: 25px;
}

.facts-section ol {
    padding-left: 30px;
    line-height: 1.5;
    font-size: 1.15em;
}

.facts-section li {
    margin-bottom: 12px;
}